@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  1. Убираем стили с body, чтобы fixed-элементы (оверлеи)
     работали на 100% ширины экрана.
*/

body {
    background-color: #f9fafb;
    /* Оставим только фон */
}


/*
  2. Создаем класс-контейнер, который теперь будет
     ограничивать ширину твоего сайта.
*/

.app-container {
    max-width: 390px;
    margin: 0 auto;
    position: relative;
    /* Важно для sticky-элементов внутри */
    min-height: 100vh;
}