@tailwind base;
@tailwind components;
@tailwind utilities;

/* Добавим базовый стиль для безопасных отступов, как в спеке */

body {
    /* 390px - (16px * 2) = 358px */
    max-width: 390px;
    margin: 0 auto;
    background-color: #f9fafb;
    /* light gray bg */
}